<!DOCTYPE html>
<html>

<head>
  <title>Practice API</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="shortcut icon" href="{{request.static_url('question_api_python_pyramid:static/siyavula-32x32.png')}}">
  <link rel="stylesheet" href="{{ api_base_url }}/static/themes/mobile/question-api/question-api.min.css" />
</head>

<body class="za-mobile mobile sv">
  <div id="margins">
    <div id="content">
      <div id="monassis" class="monassis monassis--practice monassis--maths monassis--question-api">
        <div class="question-wrapper">
          <div class="question-content">
            {{ question_html|safe }}
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

</html>
