<!DOCTYPE html>
<html>
  <head>
    <title>Siyavula API - Get Activity</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="https://www.siyavula.com/static/themes/emas/siyavula-api/siyavula-api.min.css"/>
    <link rel="stylesheet" href="static/css/styles.css"/>
  </head>
  <body>
    <main class="sv">
      <div class="activity" id="get-activity">
        <div class="activity-header">
          <h1>Get Activity</h1>
        </div>
        <div class="question-content"></div>
      </div>
    </main>

    <script src="{{ api_base_url }}static/themes/emas/node_modules/mathjax/MathJax.js?config=TeX-MML-AM_HTMLorMML-full"></script>
    <script src="{{ api_base_url }}static/themes/emas/siyavula-api/js/v2/siyavula-api.js"></script>
    <script>
      const manager = new SiyavulaActivityManager();
      const config = {
        baseUrl: "{{ api_base_url }}",
        token: "{{ token }}",
        userToken: "{{ user_token }}",
        showLivePreview: true,
      };

      async function initializeActivities() {
        try {
          const activity = await manager.loadActivity(
            "#get-activity",
            config,
            '{{ activity_template_id }}',
            '{{ template_response_uuid }}'
          );
        } catch (error) {
          console.error("Failed to initialize activities:", error);
        }
      }

      document.addEventListener("DOMContentLoaded", () => {
        initializeActivities();
      });
    </script>
  </body>
</html>
