<!DOCTYPE html>
<html>
  <head>
    <title>Siyavula API - Standalone Activity</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="{{ api_base_url }}static/themes/emas/siyavula-api/siyavula-api.min.css"/>
    <style type="text/css">
      .step-counter {
          font-weight: 700;
          font-size: 1.5em;
          padding-bottom: 2%;
          color: #008bb2;
          float: right;
      }
    </style>
    <script type="text/javascript">
      var baseUrl = '{{ api_base_url }}';
      var token = '{{ token }}';
      var userToken = '{{ user_token }}';
      var activityType = 'standaloneList';
      var templateList = {{ template_list }};
    </script>
  </head>
  <body>
    <main class="sv-region-main emas sv">
      <div id="monassis" class="monassis monassis--practice monassis--maths monassis--siyavula-api">
        <div class="step-counter" id="step-counter"><br></div>
        <div class="question-wrapper">
          <div class="question-content"></div>
        </div>
      </div>
    </main>
  </body>
  <script src="{{ api_base_url }}static/themes/emas/node_modules/mathjax/MathJax.js?config=TeX-MML-AM_HTMLorMML-full"></script>
  <script src="{{ api_base_url }}static/themes/emas/siyavula-api/siyavula-api.js"></script>
</html>
