<!DOCTYPE html>
<html>
  <head>
    <title>Siyavula API - User Link Token</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
  </head>
  <body>
    <p>Token: {{ token_id }}</p>
    <p>Status: {{ status }}</p>
    <p>External User ID: {{ external_user_id }}</p>
    <p>Error: {{ error }}</p>
  </body>
</html>
